@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: normal;
  src: local('Padauk'), local('Padauk'),
    url('../../fonts/Padauk-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: bold;
  src: local('Padauk Bold'), local('Padauk-Bold'),
    url('../../fonts/Padauk-Bold.ttf') format('ttf');
}
